body {
  margin: 0.5mm;
}

label {
  margin-right: 1mm;
  font-weight: bold;
}

#fileInp {
  margin-right: 2mm;
}

#fileName {
  margin-left: 1mm;
  width: 14em;
}


div + div {
  display: inline-block;
  margin-right: 3mm;
}

table {
  border-collapse: collapse;
  display: inline-table;
}

th {
  background-color: lightsteelblue;
}

th, td {
  padding: 0;
  border: 0.05mm solid WindowText;
  margin: 0;
}


.NameInp {
  width: 6.5em;
}

input[type="number"] {
  width: 7ch;
}

input[type="checkbox"] {
  margin: 0;
}

.GloAttInp {
  width: 98.5%;
  height: 5ex;
}

.DomainInp {
  width: 9em;
}

.VarAttName {
  font-weight: bold;
  width: 8em;
  text-align: center;
  background: rgba(255,255,255,0.4);
  margin-right: 1mm;
}

.VarAttVal {
  width: 12em;
}

.CelledInput {
  padding-left: 0.75mm;
  border: none;
}

.AddRemButtonCell {
  text-align: right;
  background-color: lightsteelblue;
}

.CelledButton {
  border: 0.5mm solid ButtonShadow;
}

.AddRemButton {
  width: 80%;
}

.AddRemAttButton {
  margin-left: 1mm;
}

table + input {
  vertical-align: top;
}

.CelledSelect {
  padding: 0mm;
  border: none;
  margin: 0mm;
  background: white;
}


.DataPreview {
  padding-left: 0.5mm;
  padding-right: 0.5mm;
}

.DataInpBox {
  background: lightsteelblue;
  /* Center horizontally and keep a certain relative distance to the top (both dynamically) */
  position: fixed; left: 50%; top: 11%; transform: translate(-50%,-11%);
  padding: 1mm;
  border: 0.05mm solid WindowText;
}

.DataInpBox input[type="button"] {
  padding: 0;
  margin-right: 1mm;
}

.DataInpBox textarea {
  display: block;
  width: 61.8vw;
  height: 61.8vh;
  resize: both;
}

footer {
  margin-top: 1ex;
}
